<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/general.html :: head"></head>

<body>
<nav th:replace="/general.html :: header-menu"></nav>

<main role="main" class="container">

    <h2 th:text="'Book: ' + ${book.name}"></h2>

    <form action="#" th:action="@{/books/save}" th:object="${book}" method="post">
        <table>
            <tr>
                <td><label for="id">Id</label></td>
                <td><input type="number" th:field="*{id}" class="form-control"/></td>
            </tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" th:field="*{name}" class="form-control"/></td>
            </tr>
            <tr>
                <td><label for="isbn">Isbn</label></td>
                <td><input type="text" th:field="*{isbn}" class="form-control"/></td>
            </tr>
            <tr>
                <td><label for="genre">Gènere</label></td>
                <td>
                    <select th:field="*{genre}" class="form-control">
                        <option th:each="gen : ${genres}"
                                th:value="${gen.id}"
                                th:text="${gen.name}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Submit" class="btn btn-lg btn-block btn-primary"/></td>
            </tr>
        </table>
    </form>

</main><!-- /.container -->
<nav th:replace="/general.html :: footer"></nav>
</body>
</html>
