<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/general.html :: head"></head>

<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<nav th:replace="/general.html :: header-menu"></nav>

<main role="main" class="container">
    <h1>Oh boy .... something went wrong</h1>
    <h2 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h2>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
    <a href="index.html" th:href="@{/index.html}">Back to Home Page</a>

</main><!-- /.container -->
<nav th:replace="/general.html :: footer"></nav>
</body>
</html>
