<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/general.html :: head"></head>

<body>
<nav th:replace="/general.html :: header-menu"></nav>

<main role="main" class="container">

    <h2>Login</h2>
    <p th:if="${loginError}" class="error">Wrong user or password</p>
    <form th:action="@{login}" method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" class="form-control"/> <br />
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" class="form-control"/> <br />
        <input type="submit" value="Log in" class="btn btn-lg btn-block btn-primary" />
    </form>

</main><!-- /.container -->
<nav th:replace="/general.html :: footer"></nav>
</body>
</html>
